.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    padding: 15px;
    position: absolute;
    top: 20;
    border-style: solid;
    border-width: thick;
    border-color: green;
    text-transform: uppercase;
}

.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    padding: 15px;
    position: absolute;
    left: 300px;
    top: 20;
    border-style: solid;
    border-width: thick;
    border-color: red;
    text-transform: uppercase;
}

.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 15px;
    position: absolute;
    left: 600px;
    top: 20;
    border-style: solid;
    border-width: thick;
    border-color:yellow;
    text-transform: uppercase;
}

p {
    color: blue
}